@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

body {
    background: black;
    color: white;
    overflow: hidden;
}
.container{
    display: flex;
}
.sidebar{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    height: 80px;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 70px;
}


.sidebar nav {
    float: right;
    margin-right: 40px;
    
}

.sidebar nav li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    padding: 10px;
}

.sidebar nav li a {
    text-decoration: none;
    color:black;
    display: flex;
    font-size: 20px;
}

.devpic2 img {
    margin-left: 160px;
    margin-right: 0px;
    margin-top: 100px;
    padding: -21px;
    height: 53vh;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    border: 5px solid black;

}
.buttonbg{
    padding: 35px 40px;
    border-radius: 22px;
    border-color: white;
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 21px;
    margin-top: 30px;
    cursor: pointer;
    align-items: center;
    margin-left: 30px;
}
.buttonbg:hover{
    color: black;
    background-color: white;
}.about2 h5{
    margin-top:70px;
    margin-left: 300px;
    margin-right: 0px;
    text-align: center;
    text-decoration-color: rgb(113, 11, 113);
}
.about2 h1{
    margin-top: 10px;
    margin-left: 300px;
    margin-right: 0px;
    text-align: center;
}
.aboutme{
    margin-top: 20px;
    text-align: center;
    text-transform: capitalize;
    margin-left: 120px;
    margin-right: 120px;
    text-align: center;
    font-size: 20px;
}
.info{
    /* background-color: blue; */
    margin-left: 300px;
    margin-top: 20px;
    width: 700px;
    text-align: center;
}