@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
    /* overflow: hidden; */
}
.sidebar{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    height: 80px;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 70px;
}

.sidebar nav {
    float: right;
    margin-right: 40px;
    
}

.sidebar nav li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    padding: 10px;
}

.sidebar nav li a {
    text-decoration: none;
    color:black;
    display: flex;
    font-size: 20px;
}

.language{
    margin-top: 200px;
    margin-left: 300px;
    /* background-color: blueviolet; */
    /* width: 100%; */
}
.buttonbg{
    padding: 40px 50px;
    border-radius: 22px;
    border-color: white;
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    cursor: pointer;
    align-items: center;
    margin-left: 60px;
}
.buttonbg:hover{
    color: black;
    background-color: white;
}